body{
    background-color: lightcyan;
}
h1{
    color: blue;
    font-size: 100px;
    text-align: center;
}
h3{
    font-size: 120px;
    color: blueviolet;
    text-align: center;
}
#random{
    justify-content: center;
    align-items: center;
    margin-left: 710px ;
}